:root {
  --font-1: 0.75rem;  // 12px
  --font-2: 0.875rem; // 14px
  --font-3: 1rem;     // 16px
  --font-4: 1.125rem; // 18px
  --font-5: 1.25rem;  // 20px
  --font-6: 1.5rem;   // 24px
  --font-7: 1.75rem;  // 28px
  --font-8: 2rem;     // 32px
}