.card {
  width: inherit; padding: 16px;
  display: flex; gap: 24px;
  border: 1px solid; border-radius: 8px;
  box-shadow: 4px 4px 4px #eee;
  .thumbnail {
    figure {
      position: relative;
      figcaption {
        font-size: var(--font-1); color: var(--color-5);
        display: flex; align-items: center; justify-content: center;
        img{
          width: 16px; height: 16px;
          position: absolute; right: 0; bottom: 0;
        }
      }
    }
  }
  .des {
    display: grid; justify-content: space-between; align-items: center;
    gap: 8px;
    .title {font-size: var(--font-5);}
    .subtitle {font-size: var(--font-3); color: var(--color-5);}
    div {
      width: 100%;
      display: flex; justify-content: space-between; align-items: center;
      color: var(--color-5);
      font-size: var(--font-2);
    }
  }
}

@include tablet-mobile {
  .card {
    width: inherit;
    .thumbnail {
      display: flex; align-items: center; justify-content: center;
      figure {
        img{width: 200px;}
        position: relative;
        display: grid; align-items: center; justify-content: center; gap: 4px;
      }
    }
    .des {
      .tag{
        display: flex; flex-wrap: wrap;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      div {
        display: grid;
        &:nth-of-type(1){p{&:nth-of-type(2){display: none;}}}
        p {text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
      }
    }
  }
}

